<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919211114722-h5opm5nntg6cs94o4jo5r7gfkeidv0m7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919211114722-h5opm5nntg6cs94o4jo5r7gfkeidv0m7</string>
	<key>API_KEY</key>
	<string>AIzaSyBcF8WknoKQTk70FHe2mWWTUlT4Cob3YEY</string>
	<key>GCM_SENDER_ID</key>
	<string>919211114722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>fireflutter-2df81</string>
	<key>STORAGE_BUCKET</key>
	<string>fireflutter-2df81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919211114722:ios:205afc371d71ade1bc5ebb</string>
</dict>
</plist>